*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

:root {
    --primary-color: #0174B3;
    --text-grey: #7f7f7f;
    --text-white: #ffffff;
    --light-blue: #0284CA;
    --dark-blue: #1A4977;

    --font-noto-sans: 'Noto Sans', sans-serif;
}

/* COMMON START */
body {
    font-size: 16px;
    font-family: var(--font-noto-sans);
    color: var(--text-white);
}

a {
    text-decoration: none;
    color: var(--text-grey);
}

.container {
    width: 1140px;
    height: auto;
}
/* COMMON END */


/* HEADER START */
header {
    background-color: var(--primary-color);

    width: 100%;
    height: 60px;
}

.header-info a {
    color: var(--text-white);
}

.header-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: auto;

}

ul.information,
ul.social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: start;
    align-items: center;
}

ul.information li.information-item {
    color: var(--text-white);
    margin-right: 15px;
}


ul.information li.information-item:last-child {
    margin-right: unset;
}

ul.information li
ul.information li:hover::before {
    font-size: 20px;
}

ul.social > li {
    margin: 0 20px 0 0;
}

ul.social > li:last-child {
    margin-right: 0;
}

ul.social > li i {
    transition: all .3s;
}

ul.social > li:hover {
    font-size: 20px;
}

/* HEADER END */