* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  color: blue;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 10px;
}

.main-content {
  display: flex;
  position: relative;
  /* left: 200px; */
}

.content {
  position: absolute;
  width: 800px;
  left: 400px;
}
.right {
  background-color: lightblue;
  position: absolute;
  right:20px;
  width: 300px;
  box-sizing: border-box;
  padding-left: 20px;
}


.left {
  margin: 20px;
  float: left;
}

.row {
  border-bottom: 1px solid black;
  margin: 20px;
}
